* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --search-bar-background-color: #d1d5db;
  --search-button-background-color: white;
  --search-button-svg-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input {
  font-size: 1.2rem;
  background-color: var(--search-bar-background-color);
  padding: 16px 24px;
  width: 100ch;
  border-radius: 50px;
}

button[type="submit"] {
  background-color: var(--search-button-background-color);
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  transition: 0.2s;
}

button[type="submit"]:hover {
  background-color: var(--search-button-svg-color);
}

button[type="submit"]:hover > svg {
  fill: var(--search-button-background-color);
}

svg {
  fill: var(--search-button-svg-color);
  height: 2rem;
}
