* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --search-bar-background-color: #d1d5db;
  --search-button-background-color: white;
  --search-button-svg-color: black;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  padding: 64px;
}

form {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input {
  font-size: 1.2rem;
  background-color: var(--search-bar-background-color);
  padding: 16px 24px;
  border-radius: 50px;
  width: 100%;
}

button[type="submit"] {
  background-color: var(--search-button-background-color);
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  transition: 0.2s;
}

button[type="submit"]:hover {
  background-color: var(--search-button-svg-color);
}

button[type="submit"]:hover > svg {
  fill: var(--search-button-background-color);
}

svg {
  fill: var(--search-button-svg-color);
  height: 2rem;
}

.weather {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.current-weather {
  grid-column: 1 / -1;
}

.weather > * {
  border-radius: 16px;
  padding: 32px;
  font-size: 1.6rem;
  color: #f9fafb;
  background-color: rgb(96, 165, 250, 0.8);
}
